<%- include("partials/header") %>
    <form action="/logout" method="post">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
    </div>
    </div>
    </nav>
    </header>
    <div class="container">
        <div class="row my-3 bg-body-secondary floating-row">
            <div class="col-12 col-sm py-2">
                Size
            </div>
            <div class="col-12 col-sm py-2">
                Model
            </div>
            <div class="col-12 col-sm py-2">
                Price
            </div>
            <div class="col-12 col-sm py-2">
                Material
            </div>
        </div>
        <% for (let watch of watches) { %>
            <div class="row border-bottom-row">
                <div class="col py-2">
                    <div class="row size-row">
                        <div class="col-2"><a href="/sizeCard/<%= watch.model %>"><img src="<%- watch.image %>"
                                    alt="<%- watch.model %>"></a></div>
                        <div class="col-10 px-4">
                            <%= watch.size_measurement.size %>
                        </div>
                    </div>
                </div>
                <div class="col py-2"><%- watch.model %></div>
                <div class="col py-2">CHF <%- watch.price %></div>
                <div class="col py-2"><%- watch.material_type %></div>
            </div>
            <% } %>
    </div>
    <%- include("partials/footer") %>