<%- include("partials/header") %>
    <form action="/logout" method="post">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
    </div>
    </div>
    </nav>
    </header>
    <div class="container d-flex justify-content-center">
        <% for(let watch of watches) { %>
            <div class="card mt-4 mb-4 mx-3" style="width: 18rem;">
                <img src="<%= watch.image %>" class="card-img-top" alt="<%= watch.model %>">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <%= watch.model %>
                    </li>
                    <li class="list-group-item">Size: <%= watch.size_measurement.size %>
                    </li>
                    <li class="list-group-item">CHF <%= watch.price %>
                    </li>
                    <li class="list-group-item">Material: <%= watch.material_type %>
                    </li>
                </ul>
            </div>
            <% } %>
    </div>
    <%- include("partials/footer") %>